%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
]}.

{cover_enabled, true}.

{deps,
 [{lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {meck, ".*",
   {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
  {erlzmq, "2.0",
   {git, "https://github.com/jamesc/erlzmq2", {branch, "2.1.11-max_sockets"}}},
  {jiffy, ".*",
   {git, "https://github.com/davisp/jiffy.git", {tag, "0.4.3"}}},
  {chef_authn, ".*",
   {git, "https://github.com/chef/chef_authn.git", {branch, "master"}}},
  {erlsha2, ".*",
   {git, "https://github.com/vinoski/erlsha2.git", {branch, "master"}}},
  {ej, ".*",
   {git, "https://github.com:/seth/ej.git", {branch, "master"}}},
  {ibrowse, "4.0.1.1",
   {git, "https://github.com/chef/ibrowse.git", {tag, "v4.0.1.1"}}},
  {envy, ".*",
   {git, "https://github.com/manderson26/envy.git", {branch, "master"}}},
  {folsom, ".*",
   {git, "https://github.com/chef/folsom.git", {branch, "master"}}}
 ]}.
