%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
]}.

{cover_enabled, true}.

{deps,
 [{lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
  {gen_zmq, ".*",
   {git, "git@github.com:opscode/gen_zmq.git", {branch, "cm/pushy-hack"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.4.3"}}},
  {chef_authn, ".*",
   {git, "git@github.com:opscode/chef_authn.git", {branch, "master"}}},
  {erlsha2, ".*",
   {git, "https://github.com/vinoski/erlsha2", {branch, "master"}}},
  {ej, ".*", {git, "git@github.com:seth/ej.git", {branch, "master"}}},
  {ibrowse, "4.0.1.1",
   {git, "git://github.com/opscode/ibrowse.git", {tag, "v4.0.1.1"}}},
  {envy, ".*",
   {git, "git@github.com:manderson26/envy.git", {branch, "master"}}},
  {folsom, ".*",
   {git, "git@github.com:boundary/folsom.git", {branch, "master"}}}
 ]}.
